<% layout('layouts/boilerplate')%>
    <h1>goKayak</h1>

    <div>
        <div>
            <a href="/kayaking">View Kayaking Spots</a>
        </div>
        <div>
            <a href="/kayaking/new">Create a Kayaking Spot</a>
        </div>

    </div>
