<% layout('layouts/boilerplate')%>
    <div class="row my-3">
        <div class="col-6 offset-3">
            <form action="/kayaking" method="POST" class="mb-3 needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="kayak[title]" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="kayak[location]" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" name="kayak[image]" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="kayak[description]" class="form-control" id="description" cols="30" rows="5" required></textarea>
                </div>
                <button class="btn btn-success">Create</button>
            </form>
            <a href="/kayaking">Cancel</a>
        </div>
    </div>
        