<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
        <h1><%=kayak.title%></h1>
        <h2><%=kayak.location%></h2>

        <div>
            <a href="/kayaking/<%=kayak._id%>/edit">Edit Kayaking Spot</a>
        </div>
        <a href="/kayaking">Back to All Kayaking Spots</a>
</body>
</html>